%h1 Icecream Delivery Information
%h2 Login

%form{:action => "/main_page", :method => "get"}
  %body
    %p
      %label Username: 
      %input{:name => "username"}
    %p
      %label Password: 
      %input{:type => "password", :name => "password"}
    %p
      %input{:type => "submit", :name => "login"}
    %br
    %br
    %p
      %label= @message
