<h3>JimBob's Icecream Kinda Store</h3>
<form action="/main_page" method="post">
  <!input type="text" name="cmd">
  <!input type="submit">
  <br><br>
  <label>Route: </label>
  <select name="route">
    <option value="Broad">Broad</option>
    <option value="Lane">Lane</option>
    <option value="N High">N High</option>
    <option value="S High">S High</option>
  </select>
  <br><br>
  <label>Driver: </label>
  <select name="driver">
    <option value="Jan">Jan</option>
    <option value="Ted">Ted</option>
    <option value="Tom">Tom</option>
    <option value="Zeekster">Zeekster</option>
  </select>
  <br><br>
  <label>Item 1: </label>
  <select name="item_1">
    <option value="Rocket Pop">Rocket Pop</option>
    <option value="Icecream Sandwich">Icecream Sandwich</option>
    <option value="Fudge Bar">Fudge Bar</option>
    <option value="Chopped Liver">Chopped Liver</option>
  </select>
  <br><br>
  <label>Item 2: </label>
  <select name="item_2">
    <option value="Rocket Pop">Rocket Pop</option>
    <option value="Icecream Sandwich">Icecream Sandwich</option>
    <option value="Fudge Bar">Fudge Bar</option>
    <option value="Chopped Liver">Chopped Liver</option>
  </select>
  <br><br>
  <label>Item 3: </label>
  <select name="item_3">
    <option value="Rocket Pop">Rocket Pop</option>
    <option value="Icecream Sandwich">Icecream Sandwich</option>
    <option value="Fudge Bar">Fudge Bar</option>
    <option value="Chopped Liver">Chopped Liver</option>
  </select>
  <br><br>
  <label>Item 4: </label>
  <select name="item_4">
    <option value="Rocket Pop">Rocket Pop</option>
    <option value="Icecream Sandwich">Icecream Sandwich</option>
    <option value="Fudge Bar">Fudge Bar</option>
    <option value="Chopped Liver">Chopped Liver</option>
  </select>
  <br><br>
  <input type="submit">
</form>
