%h1{:align => "center"} JimBob's Icecream Delivery
%h2{:align => "center"} Login

%form{:action => "/main_page", :method => "get"}
  %body{:background => "icecream_pattern.gif"}
    %div
      %p{:align => "center"}
        %label Username: 
        %input{:name => "username"}
    %p{:align => "center"}
      %label Password: 
      %input{:type => "password", :name => "password"}
    %p{:align => "center"}
      %input{:type => "submit", :name => "login"}
    %br
    %br
    %p{:align => "center"}
      %label= @message
